{% extends "base_generic.html" %}

{% block title %}<title>Local Library</title>{% endblock %}

{% block content %}
<h1>Home</h1>

<p>Welcome to <strong>LocalLibrary</strong>!</p>

<h2>Catalog Overview</h2>

<p>We currently have the following record counts:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <strong>Books</strong>
            </td>
            <td>
                <strong>Copies</strong>
            </td>
            <td>
                <strong>Copies available</strong>
            </td>
            <td>
                <strong>Authors</strong>
            </td>
            <td>
                <strong>Genres</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ num_books }}
            </td>
            <td>
                {{ num_instances }}
            </td>
            <td>
                {{ num_instances_available }}
            </td>
            <td>
                {{ num_authors }}
            </td>
            <td>
                {{ num_genres }}
            </td>
        </tr>
    </tbody>
</table>


<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
