@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight');

/*General*/
body {
  font-family: 'Zilla Slab', serif;
}

p {
  font-size: 1.2em;
}

/*body {
  font-family: 'Zilla Slab Highlight', cursive;
}*/



/*Header Navigation Bar*/

nav {
  display: flex;
  background: #404349;
  justify-content: flex-end;
  padding-left: 15%;
  padding-right: 5%;
}

.nav-bar {
  list-style: none;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row;
  font-size: 1.2em;

}

.nav-bar  li {
  display: block;
  margin-right: 10px;
  color: white;
  align-self: center;
}

.nav-items a {
  text-decoration: none;
  display: block;
  margin-right: 10px;
  padding: 0.7em;
  color: white;
  align-self: center;
}

.nav-items li:hover {
  background: #57595e;
}

.nav-title {
  position: absolute;
  left: 7%;
  top: 0.7em;
}

/*.logo {
  position: absolute;
  left: 50px;
  max-height: 45px;
}*/

/*Side Navigation Bar*/
.sidebar-nav {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
}

.sidebar-nav li {
    margin-top: 0.5rem;
}
