{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <strong>Full Name</strong>
                </td>
                <td>
                    <strong>Date of Birth</strong>
                </td>
                <td>
                    <strong>Date of Death</strong>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for author in author_list %}
            <tr>
                <td>
                    <a href="{{ author.get_absolute_url }}">
                         {{ author.last_name }}, {{ author.first_name }}
                    </a>
                </td>
                <td>
                    {% if author.date_of_birth %}
                    {{ author.date_of_birth }}
                    {% endif %}
                </td>
                <td>
                    {% if author.date_of_death %}
                    {{ author.date_of_death }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
