{% extends "base_generic.html" %}

{% block content %}
    <h1>My Borrowed books</h1>

    {% if bookinstance_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <strong>Title</strong>
                </td>
                <td>
                    <strong>Due Back</strong>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for bookinst in bookinstance_list %}
            <tr {% if bookinst.is_overdue %}class="danger"{% endif %}>
                <td>
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>
                </td>
                <td>
                    {{ bookinst.due_back }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
